.NavBar-Wrapper {
  background-color: #01b982;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  color: #fff;
}

.NavBar-Links {
  display: flex;
  justify-content: center;
}

.NavBar-Title {
  font-weight: lighter;
  padding-left: 1rem;
}

.NavBar-Link {
  display: flex;
  align-items: center;
  padding: .5rem;
  color: #fff;
  transition: .7s color ease;
}

.NavBar-Link:hover {
  color: #fff;
}
