.Table-Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}

.Table-Search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Table-FixHead {
  overflow-y: auto;
  height: 50vh;
}


.Table-FixHead thead th {
  position: sticky;
  top: 0;
  background-color:#00796b;
  z-index: 9999;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px 16px;
  border: 1px solid #ccc;
}

th {
  background: #eee;
}

tr {
  height: 53px;
}

tr:nth-child(even) {
  background-color: #e7f0ef;
}

th {
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-weight: bold;
  font-size: 18px;
  padding: 1rem;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

tbody tr td:first-child{
  font-weight: 600;
}

td {
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 15px;
  font-weight: lighter;
  padding: 1rem;
  color: #808080;
  line-height: 1.4;
}

.No-Students {
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}

.Spinner-Wrapper {
  display: flex; 
  justify-content: center; 
  height: 100vh;
  align-items: center;
}

.Add-Button{
  display: flex;
  height: 2rem;
  padding: 0px;
  color: #fff;
  transition: .7s color ease;
}