.App {
  font-family: sans-serif;
  text-align: center;
}

.scannerWindow {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.drawingBuffer {
  position: absolute;
  top: 0;
  left: 0;
}

.results {
 display: flex;
 width: 100%;
 background-color: rgb(173, 173, 173);
 box-shadow: 0 0 50px rgba(0,0,0,0.8); /* Параметры тени */
}

.viewport {
  position: relative;
  width: 1280px;
  height: 200px;
}

.btn-1 {
  font-family: Hack, monospace;
  background: #5c5c5c;
  color: #e4e4e4;
  cursor: pointer;
  font-size: 1em;
  padding: 1.5rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px 10px 0 0;
  width: auto;
  position: relative;
}

.btn-1-mod {
  font-family: Hack, monospace;
  background: #5c5c5c;
  color: #e4e4e4;
  cursor: pointer;
  font-size: 1em;
  padding: 1.5rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 0 0 10px 10px;
  width: auto;
  position: relative;
}

.btn-1-mod:hover {
  border-radius: 0 0 15px 15px;
}

.btn-1:hover {
  background: #797979;
  transition: all 0.5s;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 6px 15px #cacaca61;
}

.btn-1-red:hover {
  background: #ff5959;
  color: black;
}

.btn-1-blue:hover {
  background: #59a6ff;
  color: black;
}

.btn-1-green:hover {
  background: #4bff63;
  color: black;
}

.btn-1-yellow:hover {
  background: #ebff39;
  color: black;
}
